* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Nunito';
}

html {
    scroll-behavior: smooth;
}

h1 {
    position: relative;
    margin: auto;
    font-weight: 600;
    font-size: 1.6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h2 {
    position: relative;
    font-weight: 400;
    font-size: 1.4rem;
}

h3 {
    position: relative;
    font-weight: 400;
    font-size: 1.2rem;
}

p {
    position: relative;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

a, 
.btn {
    transition: all 300ms ease;
}

nav, 
nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    padding-top: 0.5rem;
    height: 12vh;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
}

a {
    color: white;
    text-decoration: none;
    text-decoration-color: black;
}

a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-color: white;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
}

.logo:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-color: white;
}

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: black;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    padding-top: 1rem;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font: 1.2rem;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.menu-links a:hover {
    background-color: rgb(33, 33, 33);
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}

section {
    padding-top: 4vh;
    margin: 0 20%;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
    position: relative;
}

#about {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 20rem;
    width: 20rem;
    margin: auto 0;
}

.section__pic-container img {
    width: 20rem;
    height: 20rem;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text__p1 {
    text-align: center;
    margin-bottom: 1rem;
}

.title {
    padding: 0;
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    margin-top: 0.5rem;
    cursor: pointer;
    height: 2rem;
    transition: all 300ms ease;
}

.icon:hover {
    transform: scale(1.1);
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    display: inline-block;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 1rem;
    transition: all 300ms ease;
    padding: 0.75rem;
    width: 6.5rem;
    border: none;
    border-radius: 2rem;
    text-align: center;
    background-color: white;
}

.btn-color-1,
.btn-color-2 {
    color: white;
    background-color: rgb(33, 33, 33);
}

.btn-color-1:hover,
.btn-color-2:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    transform: scale(1.05);
}
.skills-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.skills-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-img {
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    background-color: rgb(33, 33, 33);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.skills-img:hover {
    
    scale: 1.1;
}

.skills-icon {
    height: 2.25rem;
    width: 2.25rem;
}

.skills-box {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.skills-box.show {
    opacity: 1;
    transform: translateY(0);
}

.timeline-items {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: ' ';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: rgb(33, 33, 33);
    left: calc(50% - 1px);
}

.timeline-item {
    width: 100%;
    margin-bottom: 2rem;
}

.timeline-item:nth-child(odd) {
    margin-right: calc(50% + 2rem);
}

.timeline-item:nth-child(even) {
    margin-left: calc(50% + 2rem);
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: rgb(33, 33, 33);
    border-radius: 50%;
    position: absolute;
}

.timeline-item:nth-child(odd) .timeline-dot {
    left: calc(100% + 8px);
    text-align: left;
    margin-left: 1rem;
}

.timeline-item:nth-child(even) .timeline-dot {
    right: calc(100% + 8px);
    text-align: right;
    margin-right: 1rem;
}

.timeline-date {
    position: absolute;
    font-size: 1rem;
    color: white;
    transform: translateY(-50%);
    white-space: nowrap;
    margin-top: 0.5rem;
}

.timeline-item:nth-child(odd) .timeline-date {
    left: calc(100% + 3rem);
    text-align: left;
    margin-left: 1rem;
}

.timeline-item:nth-child(even) .timeline-date {
    right: calc(100% + 3rem);
    text-align: right;
    margin-right: 1rem;
}

.timeline-content {
    background-color: rgb(33, 33, 33);
    padding: 1rem;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

.timeline-content:hover {
    scale: 1.025;
}

.timeline-content ul li{
    margin-top: 0.5rem;
    font-size: 1rem;
    margin-left: 1rem;
}

.timeline-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.timeline-item.show {
    opacity: 1;
    transform: translateY(0);
}

.projects-container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.projects-item {
    width: 100%;
    height: 16rem;
    border-radius: 10px;
    background-color: rgb(33, 33, 33);
}

.projects-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.projects-item.show {
    opacity: 1;
    transform: translateY(0);
}

